.container {
    padding: 20px;
    text-align: center;
}
.bottomContainer {
    padding: 20px;
    display: flex;
}
.slidecontainer {
    width: 100px; /* Width of the outside container */
    justify-content: center;
    align-content: center;
    margin: 20px;
    
}

.slider {
    width: 100px;  
    
}

.box {
    height: 100px;
    width: 100px;
    
   
}

.square {
    background-color: rgb(255, 0, 192);
}


#red {
    background-color: red;

}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}