.container {
    padding: 20px;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}
#red {
    background-color: red;

}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}